<link rel="stylesheet" href="/css/footer.css" />
<footer>
  <p>@Copyrights belongs to <b>Niranjan P B</b></p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div>
    <% if(locals.user) { %>
    <p><a href="/"> Home </a></p>
    <%}%>
  </div>
</footer>