<link rel="stylesheet" href="/css/home.css" />



<div class="div-home">

    <div class="form-div">
    <form action="/files/upload"  enctype="multipart/form-data" method="post">
        <h3>Upload CSV file</h3>
        <div class="in-div"><input type="file" name="csv-file" placeholder="CSV File" accept=".csv"></div>
        <div class="upload-div"><input type="submit" value="Upload"></div>
      </form>
    </div>


      <section id="files-all">
        <h4>CSV Files</h4>
        <ul>
          <% files.forEach(function(file) { %>
            <li><a href="/files/getdata/<%= file %>"><%= file %></a></li>
          <% }); %>
        </ul>
      </section>
</div>

