.div-home {
    display: flex;
    justify-content: space-between;
  }
  
  .litag {
    list-style-type: none;
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  
  .app-name {
    text-decoration: none;
    color: white !important;
  }
  .litag a {
    text-decoration: none;
    color: white;
    margin-left: 10px;
  }
  .litag a:hover {
    color: black;
    text-decoration: underline;
  }
  
  .app-name:hover {
    cursor: pointer;
    text-decoration: none !important;
  }
 