header {
  background-color: #28379d;
  color: white;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-name {
  text-decoration: none;
  color: white !important;
}
.app-name:hover {
  cursor: pointer;
  text-decoration: none !important;
  background-color: #28379d !important;
}
