.div-home{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#files-all{
    margin-top: 30px;
    margin-right: 300px;
    border-left: 1px solid black;
    padding-left: 50px;
}